<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
<trace autoflush="true"/>
    <sources>
      <source name="System.Net" maxdatasize="1024">
        <listeners>
          <add name="MyTraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <add name="MyTraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="MyTraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.HttpListener">
        <listeners>
          <add name="MyTraceFile"/>
        </listeners>
      </source>



    <!--      

You can use these two attributes on the Trace Sources
tracemode="protocolonly"
maxdatasize="1024"



      You can choose from 4 sources

      <source name="System.Net" maxdatasize="1024">
        <listeners>
          <add name="MyTraceFile"/>
        </listeners>
      </source>

      <source name="System.Net.Sockets">
        <listeners>
          <add name="MyTraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <add name="MyTraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.HttpListener">
        <listeners>
          <add name="MyTraceFile"/>
        </listeners>
      </source>


      -->
    </sources>

    <sharedListeners>
      <add name="MyTraceFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="System.Net.trace.log"/>
    </sharedListeners>

    <switches>
      <add name="System.Net" value="Verbose"/>
    </switches>

  </system.diagnostics>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
